<div class="sign-up-container container">
  <div class="center">
    <h2>Sign up</h2>
  </div>
  <%= link_to new_user_registration_path do %>
    <div class="center">
      <%= button_tag "OllieMember", class: "btn #{params[:partner] ? 'btn-default' : 'btn-primary'}" %>
    <% end %>
    <%= link_to new_user_registration_path(partner: true) do %>
      <%= button_tag "OlliePartner", class: "btn #{params[:partner] ? 'btn-primary' : 'btn-default'}" %>
    <% end %>
  </div>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs signup">
      <%= f.input :name,
                required: true,
                autofocus: true ,
                input_html: { autocomplete: "name" }%>
      <%= f.input :email,
                :placeholder => "ex. hello@spca.org",
                required: true,
                autofocus: true ,
                input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
      <%= f.input :phone,
                :placeholder => "ex. (415)555-1234",
                required: true,
                autofocus: true ,
                input_html: { autocomplete: "phone" }%>
      <%= f.input :location, :label => "Address",
                :placeholder => "street, city, state",
                required: true,
                autofocus: true ,
                input_html: { autocomplete: "address" }%>
      <% if params[:partner] %>
        <%= f.input :website,
                :placeholder => "http://www.laanimalservices.com/shelters",
                required: true,
                autofocus: true ,
                input_html: { autocomplete: "website" }%>
        <%= f.input :nonprofit_status, :label => "501(c)(3) / Tax-Exempt Status",
                required: true,
                autofocus: true ,
                input_html: { autocomplete: "tax-exempt status" },
                :collection => { 'Qualified' => 1,'Pending' => 2, 'Not Applicable' => 3 } %>
        <%= f.input :organization, :label => "Organization/Individual",
                required: true,
                autofocus: true ,
                input_html: { autocomplete: "organization" },
                :collection => { 'Organization' => true,'Individual' => false } %>
      <% end %>
    </div>
  </div>
  <div class="center signupbtn">
    <div class="form-actions">
      <%= f.button :submit, "Sign Up", class: 'user-text-links' %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
