<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div>
        <h2 class="center">Edit OllieBuddy Profile</h2>
      </div>
      <div>
        <%= simple_form_for [@user, @dog], method: :patch do |f| %>
          <%= f.input :name %>
          <%= f.input :personality, as: :text, autofocus: true, :input_html => {:style => 'width: 100%', :rows => 3} %>
          <%= f.input :breed %>
          <%= f.input :size %>
          <%= f.input :age %>
          <%= f.input :gender %>
          <!-- <%#= f.input :photo %>
              <%#= f.input :photo_cache, as: :hidden %> -->
          <div class="center">
            <%= f.button :submit, "Update", :class => 'user-text-links' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="center">
    <br>
    <%= link_to "Back", :back, class: 'user-text-links' %>
    <% if @dog.user.organization == true %>
      <%= link_to "OlliePartner Page", user_path(@dog.user), class: 'user-text-links' %>
    <% else %>
      <%= link_to "OllieMember Page", user_path(@dog.user), class: 'user-text-links' %>
    <% end  %>
  </div>
</div>
</div>