<div class="dog-index">
</div>
<div class="center add-dog">
  <h2>Ollie Dog  </h2>
</div>
<div class="container">
  <%= image_tag "doghouse.png", id: "doghouse" %>
  <div class="row">
    <% @dogs.each do |dog| %>
      <figure class="snip1336 prettydogs">
        <img src="<%= dog.user.photo %>" alt="sample87" />
        <figcaption>
          <img src="<%= dog.user.photo %>" alt="profile-sample4" class="profile"/>
          <h2><%= dog.name %><span> <%= dog.breed %></span></h2>
          <a <%= link_to dog_path(dog) do %> View Profile</a>
          <% end %>
        </figcaption>
      </figure>
    <% end %>
  </div>
  <div class="center">
    <%= link_to "Home", root_path, class: 'user-text-links' %>
    <%= link_to "View OllieFriends", users_path, class: 'user-text-links' %>
  </div>
</div>
<!-- <div class="dog-link">
  <p><%#= link_to "+ Add Dog", new_dog_path(@user)  %> </p>
</div> -->