<div class="dog-index">
</div>
<div class="center add-dog">
  <h2>Ollie Dog  </h2>
</div>
<div class="container">
  <%= image_tag "doghouse.png", id: "doghouse" %>
  <div class="row">
    <% @dogs.each do |dog| %>
      <%= link_to dog_path(dog) do %>
        <div class="col col-md-6">
          <div class="dog-avatar">
            <img class ="dog dog-request-card" src="<%= dog.user.photo %>" alt="">
          </div>
          <div class="card-dog">
            <p class="card-title dog-request-card">
              <%= dog.name %> the <%= dog.breed %>
            </p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="center">
    <%= link_to "Home", root_path, class: 'user-text-links' %>
    <%= link_to "View OllieFriends", users_path, class: 'user-text-links' %>
  </div>
</div>
<!-- <div class="dog-link">
  <p><%#= link_to "+ Add Dog", new_dog_path(@user)  %> </p>
</div> -->
<% @dogs.each do |dog| %>
  <figure class="snip1336">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample87.jpg" alt="sample87" />
    <figcaption>
      <img src="<%= dog.user.photo %>" alt="profile-sample4" class="profile" />
      <h2><%= dog.name %><span> <%= dog.breed %></span></h2>
      <%= link_to dog_path(dog) do %>
        <a href="#" class="info">More Info</a>
      <% end %>
    </figcaption>
  </figure>
<% end %>