<div class="dog-index">
</div>
<div class="center add-dog">
  <h1>OllieBuddies</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col col-xs-12">
      <% @dogs.sort_by{|d| d.name}.each do |dog| %>
        <figure class="snip1336 prettydogs">
          <%= image_tag("dogbonebackground.png", :class => "dogbone") %>
          <figcaption>
            <% if dog.photo %>
              <%= image_tag dog.photo, :class=>"profile" %>
            <% end %>
            <div class="flex-card-dog">
              <h2><%= dog.name %><span> <%= dog.breed %></span></h2>
              <span>
                <a <%= link_to dog_path(dog) do %> View Profile</a>
                <% end %>
              </span>
            </div>
          </figcaption>
        </figure>
      <% end %>
    </div>
  </div>
</div>
<!-- <div class="dog-link">
  <p><%#= link_to "+ Add Dog", new_dog_path(@user)  %> </p>
</div> -->
