
  <%= link_to "Home", root_path %>
  <%= link_to "List of Dogs", users_path %>

    <div class="center">
      <h2>Dogs</h2>
      </div>
    <div class="container">


      <div class="row">
        <% @dogs.each do |dog| %>
        <div class="col col-xs-12 col-sm-4">
           <div class="dog-avatar">
            <%= image_tag "Groupcorgi.jpg", id: "corgi" %>
            </div>
          <div class="card-dog">

            <h2 class="card-title">
            <%= dog.name %>
            </h2>

            <p class="card-text">
            <%= dog.personality %> </p>
            <p><%= dog.gender %></p>
            <p><%= dog.breed %></p>
            <p><%= dog.size %></p>
            <p><%= dog.age %></p>
            <h2 class="card-title">
            <%= link_to dog_path(dog) do %>
             </h2>
          </div>
        </div>
         <% end %>
         <% end %>
       </div>
    </div>



