

<%= link_to "Home", root_path %>
  <%= link_to "List of Orgs", users_path %>
<div class="container">
<div class="row">
  <h1>List of Dogs</h1>
  <div class="col-xs-12 col-sm-6">
    <% @dogs.each do |dog| %>
    <%= link_to dog_path(dog) do %>
<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
  <div class="card-category"><p> <%= dog.name %> </p> <p><%= dog.breed %></p></div>
  <div class="card-description">
    <p><%= dog.personality %></p>

  </div>
  <% end %>
  <% end %>
</div>

<%= link_to "Home", root_path %>
  <%= link_to "List of Orgs", users_path %>
