<div class="container">
  <div class="row">
    <div class="col col-sm">
      <div class="dog-avatar">
        <%= image_tag @dog.photo, :class=>"dog dog-user-card", width: 170, height: 300, :crop=>"fill"%>
        <div class="card-title-show col">
          <h1><%= @dog.name %> the <%= @dog.breed %> </h1>
          <p> is <%= @dog.age %> years old and a <%= @dog.size %> <%= @dog.gender %>.</p>
          <%= image_tag "show-bone.png", id: "show-bone" %>
        </div>
      </div>
      <%= image_tag "greenshiba.png", id: "greenshiba" %>
    </div>
  </div>
</div>
<div class="center">
  <% if @dog.user.organization == true %>
    <%= link_to "OlliePartner Page", user_path(@dog.user), class: 'user-text-links' %>
  <% else %>
    <%= link_to "OllieMember Page", user_path(@dog.user), class: 'user-text-links' %>
  <% end  %>
  <% if policy(@dog.user).edit? %>
    <%= link_to "Edit OllieBuddy", edit_dog_path(@dog), class: 'user-text-links' %>
    <%= link_to "Remove OllieBuddy", dog_path(@dog), class: 'user-text-links', data: { confirm: "Are you sure?" }, method: :delete %>
  <% end %>
</div>
