  
<div class="white-wrapper">
  <div class="container">
    <div class="row">
      <div class="col col-xs-12 col-sm-4">
        <div class="center">
          <h1><%= @dog.name %></h1>
        </div>
        <p>picturs of pick/dropoff</p>
        <p>name breed size personality age gender photo </p>
        <h2><%= @dog.breed %> </h2>
        <h1><%= @dog.size %></h1>
        <h2><%= @dog.age %> </h2>
        <h1><%= @dog.gender %></h1>
        <h2><%= @dog.photo %> </h2>
      </div>
    </div>
  </div>
  <div>
    <%# link_to "Edit", edit_dog_path(@user) %>
  </div>
</div>