<div class="container dog-show">
  <div class="col flex-dog">
    <div class="dog-content">
      <h1><%= @dog.name %></h1>
      <em>
        <p><%= @dog.breed %>, <%= @dog.age %>, <%= @dog.size %>, <%= @dog.gender %></p>
      </em>
      <div class="dog-tri-flex">
        <div class="dog-tri"></div>
        <div class="dog-tri"></div>
        <div class="dog-tri"></div>
      </div>
      <h2>Bio</h2>
      <p><%= @dog.personality %></p>
    </div>
    <div class="dog-photo-side">
      <%= image_tag @dog.photo, :class=>"dog-photo dog-show-avatar", width: 350, height: 350, :crop=>"fill"%>
    </div>
  </div>
</div>
<div class="center">
  <% if @dog.user.organization == true %>
    <%= link_to "OlliePartner Page", user_path(@dog.user), class: 'user-text-links' %>
  <% else %>
    <%= link_to "OllieMember Page", user_path(@dog.user), class: 'user-text-links' %>
  <% end  %>
  <% if policy(@dog.user).edit? %>
    <%= link_to "Edit OllieBuddy", edit_dog_path(@dog), class: 'user-text-links' %>
    <%= link_to "Remove OllieBuddy", dog_path(@dog), class: 'user-text-links', data: { confirm: "Are you sure?" }, method: :delete %>
  <% end %>
</div>