<div class="user-container">
  <div class="container">
    <div class="row">
      <h1>List of Not-for-Profits, Drivers and Dog Owners</h1>
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="card-container">
          <% @users.each do |user| %>
            <%= link_to user_path(user) do %>
              <ul>
                <li>
                  <p><%= user.name %></p>
                  <p><%= user.location %></p>
                  <p><%= user.email %></p>
                </li>
              </ul>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <%= link_to "Home", root_path %>
  </div>
</div>