<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="center">
        <%= link_to users_path do %>
          <%= button_tag "OllieFriends", class: "btn #{ params[:partner] || params[:member] ? 'btn-default' : 'btn-primary'}" %>
        <% end %>
        <%= link_to users_path(partner: true) do %>
          <%= button_tag "OlliePartners", class: "btn #{params[:partner] ? 'btn-primary' : 'btn-default'}" %>
        <% end %>
        <%= link_to users_path(member: true) do %>
          <%= button_tag "OllieMembers", class: "btn #{params[:member] ? 'btn-primary' : 'btn-default'}" %>
        <% end %>
      </div>
      <div class=" user-title">
        <% if params[:partner] %>
          <h1 class="center">OlliePartners</h1>
        <% elsif params[:member] %>
          <h1 class="center">OllieMembers</h1>
        <% else %>
          <h1 class="center">OllieFriends</h1>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <% @users.each do |user| %>
          <%#= link_to user_path(user) do %>
            <div class="card" onclick="location.href='<%= "users/#{user.id}" %>';">
              <div class="user-picture">
                <% if user.organization == true %>
                  <%= image_tag 'animalshelter.png', height: 80, width: 70 %>
                <% elsif user.organization == false %>
                  <%= image_tag 'userdog.png', height: 80, width: 70 %>
                <% end %>
              </div>
              <div class="card-description">
                <div>
                  <h3><%= user.name %></h3>
                </div>
                <div>
                  <p>(<%= user.phone.first(3) %>) <%= user.phone[3..5] %>-<%= user.phone[6..9] %></p>
                </div>
              </div>
              <div class="follow">
                <ul>
                  <%= render user %>
                </ul>
              </div>
            </div>
            <%# end %>
          <% end %>
        </div>
      </div>
    </div>