<div class="user-container">
  <div class="container">
    <!-- <div class="row"> -->
    <h1>List of Not-for-Profits, Drivers and Dog Owners</h1>
    <div class="card-container-user">
      <% @users.each do |user| %>
        <div class="card">
          <%= link_to user_path(user) do %>
            <div class="user-picture">
              <% if user.photo? %>
                <%= image_tag user.photo, width: 364, height: 220, :crop=>"fill" %>
              <% else %>
                <%= image_tag "small-dog-icondog.jpg" %>
              <% end %>
            </div>
            <div>
              <ul>
                <li>
                  <p><%= user.name %></p>
                  <p><%= user.location %></p>
                  <p><%= user.email %></p>
                </li>
              </ul>
            </div>
          <% end %>
        <% end %>
      </div>
      <!-- </div> -->
      <!-- </div> -->
    </div>
    <%= link_to "Home", root_path %>
  </div>