
<div class="user-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <h1>List of Not-for-Profits, Drivers and Dog Owners</h1>
        <h4> <%= @user.name %> </h4>
        <p><%= @user.location %></p>
        <p><%= @user.email %></p>
      </div>

    </div>
    <%= link_to "back", :back %>
    <% if policy(@user).edit? %>
      <%= link_to "Edit", edit_user_registration_path %>
    <% else %>
      <%= link_to "Home", root_path %>
    <% end %>
  </div>
</div>
