<div class="footer">
  <div class="flex-column footer-right-border footer-links">
    <h6>Meet Our:</h6>
    <%= link_to users_path do %>
      <p>OllieFriends</p>
    <% end %>
    <%= link_to dogs_path do %>
      <p>OllieBuddies</p>
    <% end %>
  </div>
  <div>
    <a href="mailto:helloollieboard@gmail.com", class="user-text-links">Email Us</a>
  </div>
  <div class="flex-column center footer-left-border">
    <h6>Creators: </h6>
    <a href="http://github.com/Georgewwalden7", class="flex-column" target="_blank">
      <%= image_tag "http://kitt.lewagon.com/placeholder/users/Georgewwalden7", class: "footer-avatar"%></a>
    <a href="http://github.com/mattfraz38", target="_blank">
      <%= image_tag "http://kitt.lewagon.com/placeholder/users/mattfraz38", class: "footer-avatar"%></a>
    <a href="http://github.com/ringochico", target="_blank">
      <%= image_tag "http://kitt.lewagon.com/placeholder/users/ringochico", class: "footer-avatar"%></a>
    <a href="http://github.com/naneng", target="_blank">
      <%= image_tag "http://kitt.lewagon.com/placeholder/users/naneng", class: "footer-avatar"%></a>
  </div>
</div>
</div>