
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1>Requests List</h1>
      <div>
        <%= link_to "Create", new_request_path%>
      </div>
      <%= @requests.each do |request| %>
        <%= link_to request_path(request) do %>
          <ol>
            <li>
              <p><%= request.datetime %></p>
              <p><%= request.notes %></p>
              <p><%= request.distance %></p>
              <p><%= request.time %></p>
            </li>
          <% end %>
        </ol>
      <% end %>
    </div>
  </div>
</div>

