<div>
  <div class="card_container">

    <div class="card_form">
      <h2>Transportation Request</h2>
        <%= simple_form_for [@request] do |f| %>
          <p>Shelter: <%= @user.name %></p>
          <%= f.input :pickup_location, as: :text, autofocus: true, :input_html => {:style => 'width: 100%', :rows => 3, :id => "pickup_loc"} %>

          <div class="left"><input type="checkbox" id="myCheck1" onclick="checked1(`<%= @user.location %>`)"> Use shelter address</div>

          <%= f.input :dropoff_location, as: :text, autofocus: true, :input_html => {:style => 'width: 100%', :rows => 3, :id => "dropoff_loc"} %>

          <div class="left check2"><input type="checkbox" id="myCheck2" onclick="checked2(`<%= @user.location %>`)"> Use shelter address</div>

          <%= f.input :datetime, :label => "What time is the service needed?", :as => :string, required: true, :input_html => {:class => "datepicker"} %>

          <%= f.submit "Submit" %>

        <% end %>
        </div>
  </div>
  <div class="trapezium-bottom-right"></div>
</div>
