<div>
  <div class="new_flex">
    <div class="card_form">
      <h2>Transportation Request</h2>
        <%= simple_form_for [@request] do |f| %>
          <p>Shelter: <%= @user.name %></p>
          <%= f.input :pickup_location, as: :text, autofocus: true, :input_html => {:style => 'width: 100%', :rows => 2, :id => "pickup_loc"}, :autocomplete => :on %>

          <div class="left" id="top_check"><input type="checkbox" id="myCheck1" data-location="<%= @user.location %>"> Use shelter address</div>

          <%= f.input :dropoff_location, as: :text, autofocus: true, :input_html => {:style => 'width: 100%', :rows => 2, :id => "dropoff_loc"}, :autocomplete => :on %>

          <div class="left check2" id="bottom_check"><input type="checkbox" id="myCheck2" data-location="<%= @user.location %>"> Use shelter address</div>

          <%= f.input :datetime, :label => "Date / Time for Transportation", :as => :string, required: true, :input_html => {:class => "datepicker", :id => 'date'}, :value => Time.now %>

          <div class="left check3"><input type="checkbox" id="myCheck3" > Immediately</div>
          <%= f.input :dogs, collection: current_user.dogs, input_html: { multiple: true } %>

          <%= f.input :notes, as: :text, autofocus: true, :input_html => {:style => 'width: 100%', :rows => 2} %>

          <%= f.submit "Submit" %>
        <% end %>
      </div>

      <div
      id="map"
      style="width: 100%;
      height: calc(100vh - 70px);"
      data-markers="<%= @markers.to_json %>"
      data-current="<%= @currentmarker.to_json %>"
    ></div>
  </div>
</div>

<%= content_tag :div, class: "temp_information", data: {temp: @request} do %>
<% end %>
