<div class="request_index_flex">
  <div class="info-flex">
    <div class="center request-title">
      <h1><strong><%= @request.user.name %></strong></h1>
      <h2 style="margin-top:0;"><strong>Transportation Request</strong></h2>
      <h4><%= @request.user.location %></h4>
      <h3>(<%= @request.user.phone.first(3) %>) <%= @request.user.phone[3..5] %>-<%= @request.user.phone[6..9] %></h3>
    </div>
    <div class="flex-requests">
      <% @request.dogs.each do |dog| %>
        <%= link_to dog_path(dog) do %>
          <% if dog.photo %>
            <%= image_tag dog.photo, class: 'request-dog-image' %>
          <% end %>
          <div class="dog-name-link">
            <%= dog.name %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="request-container">
      <div id="locations">
        <div class="margins-top-bottom">
          <p><strong>( A ) Current Location: </strong>
            <div> <%= current_user.location %></div>
          </p>
        </div>
        <div class="margins-top-bottom">
          <p><strong>( B ) Pick Up Location: </strong>
            <div id="start"> <%= @request.pickup_location %></div>
          </p>
        </div>
        <div class="margins-top-bottom">
          <p><strong>( C ) Drop Off Location: </strong>
            <div id="end"> <%= @request.dropoff_location %></div>
          </p>
        </div>
      </div>
      <div id = "distances">
        <div class="margins-top-bottom">
          <p><em>Distance:    <span id="Distance1"> </span></em>
            <div><em>Time:        <span id="Time1"> </span></p>
            </em> </div>
        </div>
        <div class="margins-top-bottom">
          <p><em>Distance:    <span id="Distance2"> </span></em>
            <div><em>Time:        <span id="Time2"> </span></p>
            </em> </div>
        </div>
        <div class="margins-top-bottom">
          <p><em>Total Distance: <span id="Distance3"> </span></em>
            <div><em>Total Time: <span id="Time3"> </span></p>
            </em> </div>
        </div>
      </div>
    </div>
    <% if @request.notes %>
      <div style="font-size: 20px; margin-bottom: 10px;">
        <strong>Notes: </strong><%= @request.notes %>
      </div>
    <% end %>
    <% if @request.status == "Booked" %>
      <div class="booking">
        <strong>Booked by: <%= @request.bookings.first.user.name %></strong>
      </div>
    <% end %>
    <div class = "center">
      <% if @request.user == current_user %>
        <% if policy(@request).edit? %>
          <%= link_to "Edit Request", edit_request_path(@request.id), class: 'btn btn-warning btn request-btn-space' %>
        <% end %>
        <% if policy(@request).destroy? %>
          <%= link_to "Delete Request", request_path(@request), method: :delete, class: 'btn btn-warning btn request-btn-space' %>
        <% end %>
      <% else %>
        <% if @request.status != "Booked" %>
          <%= link_to "Book Request", request_bookings_path(@request), method: :post, class: 'btn btn-warning btn request-btn-space' %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div
      id="directions_map"
      class = "map"
      data-current="<%= @currentmarker.to_json %>"
    ></div>

</div>
<div class="over-map">
  <div style="margin-bottom:10px;">( A ) Current Location</div>
  <div style="margin-bottom:10px;">( B ) Pick Up Location</div>
  <div>( C ) Drop Off Location</div>
</div>
<%= console %>

