<div class="center">
  <h1><strong><%= @request.user.name %> Transportation Request</strong>
  <h3><%= @request.user.location %> Telephone: <%= @request.user.phone %></h3>
</div>

<div id="search_javascript">
  <div class="request_card-title" id="bright">
    <div class="request_info_section info_section flex">

    <div>
    <img class="locandina" src="<%= @request.user.photo %>"/>
      <div>
        <% @request.dogs.each do |dog| %>
          <%= link_to dog_path(dog) do %>
            <div >
              <% if dog.photo %>
                <%= image_tag dog.photo, width: 100, height: 100, :crop=>"fill"%>
              <% end %>
            </div>
          <% end %>
        <div><%= dog.name %></div>
        <% end %>
      </div>
    </div>

    <div class="">
      <p>Pick Up Location:</p> <p><%= @request.pickup_location %></p>
      <p>Drop Off Location:</p> <p><%= @request.dropoff_location %></p>
      <p>
       <strong>Request Time:</strong> <%= @request.datetime < DateTime.now ? "Immediately" : @request.datetime %>
      </p>
    </div>

    </div>
  </div>
</div>

<% if policy(@request).edit? %>
  <%= link_to edit_request_path(@request.id) do %>
  <div class="center link"><button>Edit Request</button></div>
  <% end %>
<% end %>

<% if policy(@request).destroy? %>
  <%= link_to request_path(@request), data: { confirm: "Are you sure?" }, method: :delete do %>
    <div class="center link"><button>Delete Request</button></div>
  <% end %>
<% end %>

<%= link_to request_bookings_path(@request), method: :post do %>
  <div class="center link"><button>Book Request</button></div>
<% end %>
