<h1>Transport request</h1>
    <ol>
      <li>
        <p><%= @request.datetime %></p>
        <p><%= @request.notes %></p>
        <p><%= @request.distance %></p>
        <p><%= @request.time %></p>
      </li>
  </ol>
  <%= link_to "Edit", edit_request_path(@request.id) %>

<%# if policy(@request).edit? %>
    <%#= link_to "Edit", edit_request_path(@request.id) %>
 <%# end %>
