
  <div class="container">
    <div class="row">
        <%= image_tag "olliebanner.png", id: "olliebanner" %>
    </div>
  </div>

  <div class="container">
    <div class="row">
        <%= image_tag "ollieinfo.png", id: "ollieinfo" %>
      </div>
    </div>
  <div class="container">
    <div class="row">
    <div class="center lineone col col-xs-16 ">
      <%= link_to users_path do %>
      <div class="flex">
      <h2>Become a Partner</h2>
    <%= image_tag "partner-icon.png", id: "partner-icon" %>
    </div>
    <div class="flex">
    <h2>Become a Volunteer</h2>
    <%= image_tag "volunteer-icon.png", id: "volunteer-icon" %>
    <% end  %>
  </div>
   </div>
   </div>
   </div>






