<div class="banner parallax" style="position: relative;background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgb(147,112,219)95%), url(<%= image_path("dogsincar.jpg") %>) ">
  <div class="banner-content">
    <h1>OllieBoard</h1>
    <p>A transport service that connects animal shelters with volunteers.</p>
    <div class="larbtnflex">
      <h2 class="joinollie">Are you a volunteer or a partner?</h2>
      <div class="larbtn">
        <%= link_to new_user_registration_path(partner: true) do %>
          <%= image_tag "partner-icon.png", class: 'landingicon' %>
        <% end %>
        <p></p>
        <%= link_to new_user_registration_path do %>
          <%= image_tag "volunteer-icon.png", class: 'landingicon'%>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="wrapper-purple">
  <div class="container">
    <div class="line-flex-box">
      <div class="left-part">
        <div class="left-part-item left-part-item-one timeline-card">
          <%= image_tag "magnifyglass.png", class: 'magicon' %>
          <div>
            <p class="left-text-one"><strong>OllieFriends</strong> have the ability to search and choose any <strong>OllieBuddy</strong>.</p>
          </div>
        </div>
        <div class="left-part-item left-part-item-two timeline-card">
          <%= image_tag "dogicons.png", class: 'dogsincar' %>
          <p class="left-text-two"><strong>OllieFriends</strong> have the ability to search and choose any <strong>OllieBuddy</strong>.</p>
        </div>
      </div>
      <div class="middle-part">
        <div class="purple purpfont">
          <!-- <div class="circle-number"> -->
          <p>1</p>
          <!-- </div> -->
        </div>
        <div class="purple-line">
        </div>
        <div class="purple purpfont">
          <p>2</p>
        </div>
        <div class="purple-line">
        </div>
        <div class="purple purpfont">
          <p>3</p>
        </div>
      </div>
      <div class="right-part">
        <div class="right-part-mag-item timeline-card">
          <p class="left-text-middle"><strong>OlliePartners</strong> can add new transport in seconds. </p>
          <%= image_tag "dogcar.png", class: 'lineicon' %>
        </div>
      </div>
    </div>
  </div>
</div>