<div class="banner parallax" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(36,0,6,0.6) 50%), url(<%= image_path("dogsincar.jpeg") %>) ">
  <div class="banner-content">
    <h1>Ollieboard</h1>
    <p>Ollie is transport service that will make it easier for animal shelters and Ollie buddies to connect with their volunteers.</p>
  </div>
</div>
<div class="ollieinfo">
  <div class=" olliecontent">
    <div class="first-content">
      <div class=" purple">
        <%= image_tag "dogicons.png", class: 'dogicon' %>
      </div>
      <div class="white ollietext">
        <p>Ollie hopes to streamline the process of transporting animals to and from adoptions events, directly to rescue partners, and to their forever homes! </p>
      </div>
    </div>
    <div class="second-content">
      <div class="white ollietext">
        <p>By bringing new technology to shelters and rescues, Ollie can save time, lives, and provide relief to shelters and rescues with limited resources.</p>
      </div>
      <div class="purple">
        <%= image_tag "dogcar.png", class: 'dogicon' %>

      </div>
    </div>
  </div>
</div>
<div class="larbtn">
  <%= link_to users_path do %>
    <h4>Become a Partner</h4>
    <%= image_tag "partner-icon.png" %>
  <% end %>
  <%= link_to users_path do %>
    <h4>Become a Volunteer</h4>
    <%= image_tag "volunteer-icon.png"%>
  <% end %>
</div>