
  <div class="container">
    <div class="row">
        <%= image_tag "olliebanner.png", id: "olliebanner" %>
    </div>
  </div>

  <div class="container">
    <div class="row ">
      <div class="col lineone">

        <div><%= image_tag "ollieinfo.png", id: "ollieinfo" %></div>

      </div>
    </div>
    </div>

    <div class="button lineone">
      <%= link_to users_path do %>
      <div>
      <h2>Become a Partner</h2>
    <%= image_tag "partner-icon.png", id: "partner-icon" %>
    </div>
    <div>
    <h2>Become a Volunteer</h2>
    <%= image_tag "volunteer-icon.png", id: "volunteer-icon" %>
    </div>
    <% end  %>
   </div>






