<div class="green-wrapper">
<div class="container">
  <div class="row">
    <div class="row logo-tag">
  <div class="logo-text">
    <h1>Ollieboard</h1>
    <div class="logo-content">
      <h3>Express</h3>
    </div>
  </div>
  <%= image_tag "shibadark.png", id: "shiba" %>
  </div>
</div>
 <div class="row">
    <div class="col col-xs-12 big-banner">
      <h2>Ollie is a mobile app that will make it easier for animal shelters and rescues to connect with their volunteers.</h2>
       <div class="corgi-button">

    <button type="button" class="btn btn-success btn">Become a volunteer</button>
    <button type="button" class="btn btn-success btn">Become a partner</button>
  </div>
    </h3>
    There are over 13,000 animal shelters nationwide, Ollie hopes to streamline the process of transporting animals to and from adoptions events, directly to rescue partners, and to their forever homes! </h3>
     <div class="corgi-button">

    <%= link_to users_path do %>
      <button type="button" class="btn btn-warning btn">List of Partners</button>
    <% end %>
    <%= link_to dogs_path do %>
      <button type="button" class="btn btn-warning btn">List of Dogs</button>
    <% end %>
    <%= link_to requests_path do %>
      <button type="button" class="btn btn-warning btn">List of Requests</button>
    <% end %>
    </div>
    </div>
</div>
</div>
</div>

<div class="white-wrapper">
  <div class="container">
    <div class="row">
      <div class="col col-xs-12">
        <%= image_tag "dogexcursions.png", id: "dogexcursions" %>


      <div class="row">
        <% @dogs.each do |dog| %>
        <div class="col col-xs-12 col-sm-4">
           <div class="dog-avatar">

            </div>

          <div class="card-dog">

            <p class="card-title">
            <%= dog.name %>

            <em> <%= dog.size %></em>
            <%= dog.age %>
             <%= link_to "dogs edit", edit_dog_path(dog)  %>
            </p>

            <p class="card-text">
              <%= image_tag "Groupcorgi.jpg", id: "corgi" %>
            </p>


            <%= link_to dog_path(dog) do %>

          </div>
        </div>
         <% end %>
         <% end %>
       </div>


      </div>

    </div>

  </div>
</div>









